Repository leikoilja/glocaltokens, pull requests merged in 2021-02, with the labels that each got.

#15 Testing environment
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/tests.yaml
  .gitignore
  MANIFEST.in
  README.md
  requirements
  tests/__init__.py
  tests/test_client.py
  tox.ini
Labels: enhancement

#13 Added device IP discovery
  README.md
  glocaltokens/client.py
  glocaltokens/scanner.py
  glocaltokens/utils/__init__.py
  glocaltokens/utils/network.py
  glocaltokens/utils/type.py
  setup.py
  tests/test_scanner.py
Labels: enhancement

#24 Improve Android ID generation
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/const.py
  requirements
  tests/test_client.py
Labels: enhancement, minor

#22 Implement typing
  README.md
  glocaltokens/client.py
  glocaltokens/scanner.py
  glocaltokens/utils/network.py
  glocaltokens/utils/token.py
  glocaltokens/utils/type.py
  requirements
  tests/factory/__init__.py
  tests/factory/mixin.py
  tests/factory/providers.py
  tests/test_client.py
Labels: chore, enhancement

#29 Grpcio tools version
  setup.py
Labels: enhancement

#30 Adding client tests for fetching tokens
  glocaltokens/client.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
Labels: enhancement

#31 Get devices testing
  README.md
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
  glocaltokens/utils/network.py
  glocaltokens/utils/types.py
  tests/factory/providers.py
  tests/test_client.py
Labels: patch, testing

#32 Zeroconf import
  glocaltokens/scanner.py
Labels: patch, scanner

#34 Added zeroconf instance passing.
  glocaltokens/client.py
  glocaltokens/scanner.py
Labels: feature, minor
