Repository leikoilja/glocaltokens, pull requests merged in 2021-04, with the labels that each got.

#53 Propagate logging level to scanner and add remove_service method
  glocaltokens/client.py
  glocaltokens/scanner.py
  tests/test_client.py
  tests/test_scanner.py
Labels: bug

#57 Backport changes from ha-google-home
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/manage-labels.yml
  CONTRIBUTING.md
Labels: github_structure

#63 Update gpsoauth to 1.0.0
  glocaltokens/client.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: dependencies

#56 Enabling pylint
  .pre-commit-config.yaml
  example/get_tokens.py
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
  glocaltokens/utils/logs.py
  glocaltokens/utils/network.py
  glocaltokens/utils/token.py
  glocaltokens/utils/types.py
  pyproject.toml
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Labels: minor, refactoring, test

#55 Improving logging
  glocaltokens/client.py
  tests/assertions.py
Labels: refactoring, test

#69 Reduce discovery timeout
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
  poetry.lock
  pyproject.toml
Labels: performance

#70 Set Dependabot versioning strategy
  .github/dependabot.yml
  .github/labeler.yml
Labels: github structure

#72 Fix Labeler
  .github/labeler.yml
Labels: github structure

#71 Add more type hints, fix some pylint warnings
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/scanner.py
  glocaltokens/utils/types.py
  pyproject.toml
  setup.cfg
  tests/assertions.py
  tests/test_client.py
  tests/test_scanner.py
Labels: refactoring

#73 Add more type hints
  glocaltokens/client.py
  glocaltokens/scanner.py
  glocaltokens/utils/network.py
  glocaltokens/utils/types.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/factory/providers.py
  tests/test_client.py
Labels: refactoring

#77 Flake8 plugins, disable Dependabot labels, fix Labeler
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  poetry.lock
  pyproject.toml
Labels: github structure

#79 Cleanup depdendabot config
  .github/dependabot.yml
Labels: github structure

#80 Revert "Cleanup depdendabot config"
  .github/dependabot.yml
Labels: github structure

#82 Generate mypy stubs for protobuf
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  glocaltokens/scanner.py
  setup.cfg
  tests/test_client.py
Labels: refactoring

#83 Add type hints to tests, enable strict checks
  glocaltokens/client.py
  glocaltokens/const.py
  setup.cfg
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Labels: refactoring

#85 Setup codespell
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  glocaltokens/client.py
  glocaltokens/utils/logs.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_scanner.py
Labels: refactoring

#84 Fix MAC address generation
  glocaltokens/client.py
  glocaltokens/const.py
  tests/test_client.py
Labels: bug

#90 Fix labeler config
  .github/labeler.yml
Labels: github structure

#89 Action to automatically publish new version on PyPI
  .github/workflows/publish.yml
  pyproject.toml
Labels: github structure

#93 Fix link in README
  README.md
Labels: documentation

#92 Modernise type hints
  .github/workflows/linting-and-testing.yaml
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/scanner.py
  glocaltokens/utils/logs.py
  glocaltokens/utils/network.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
Labels: refactoring
