Repository leikoilja/glocaltokens, pull requests merged in 2021-03, with the labels that each got.

#37 Fix authentication (401) error in `get_homegraph`
  glocaltokens/client.py
Labels: bug, patch

#38 Expose hardware name in the Device
  glocaltokens/client.py
  glocaltokens/const.py
  tests/test_client.py
Labels: feature

#41 Adding CI using Github workflows
  .github/workflows/build.yml
  setup.py
Labels: github_structure

#45 Don't store Device if the local_auth_token is invalid
  glocaltokens/client.py
  tests/assertions.py
  tests/factory/mixin.py
  tests/factory/providers.py
  tests/test_client.py
Labels: bug, patch

#48 Added more debugging for bug-fixing
  example/get_tokens.py
  glocaltokens/client.py
  glocaltokens/scanner.py
  glocaltokens/utils/logs.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Labels: feature, patch
